

canvas {
  border: 2px solid #2380b2;
  box-shadow: 0 0 40px 20px #29c5f4;
  font-family: 'Luckiest Guy', cursive;


}

#canvas-place {
  padding: 20px;
  /* margin: 0 auto; */
}

body {
  background-color: #f4ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


/* On mobile */
@media only screen and (max-width: 900px) and (min-aspect-ratio: 600/500) and (max-aspect-ratio: 1200/500) {

  canvas {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  #canvas-place {
    padding: 0;
  }
}