canvas {
  border: 2px solid #2380b2;
  box-shadow: 0 0 40px 20px #29c5f4;

}

#canvas-place {
  padding: 20px;
  /* margin: 0 auto; */
}

body {
  background-color: #f4ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}